.recipe-list {
  background-color: #f9f5f3;
}
.form_row {
  margin-bottom: 3rem;
}
a {
  text-decoration: none;
}
ul:last-child {
  padding-bottom: 1.5rem;
}
.preview-link:hover {
  background-color: yellow;
}
@media only screen and (max-width: 600px) {
  .modal-dialog {
    max-width: 700px;
  }
}

@media only screen and (max-width: 990px) {
  .modal-dialog {
    max-width: 680px;
  }
}

@media only screen and (max-width: 1200px) {
  ul {
    padding: 0 1rem;
  }
}
