.recipe-list {
  background-color: #f9f5f3d8;
  height: 100vh;
}
.form_row {
  margin-bottom: 3rem;
}
a {
  text-decoration: none;
}
ul:last-child {
  padding-bottom: 1.5rem;
}
.preview-link,
.delete-link {
  padding: 1rem;
}
.preview-link:hover {
  background-color: #d3c7c357;
}

.delete-button:hover {
  color: #f48982;
}

@media only screen and (min-width: 1200px) {
  .btn-submit {
    margin-right: 2.7rem;
  }
}
@media only screen and (max-width: 1200px) {
  ul {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 990px) {
  .modal-dialog {
    max-width: 680px;
  }
}

@media only screen and (max-width: 600px) {
  .modal-dialog {
    max-width: 700px;
  }
}
